!!! 5
%html
  %head
    %title Pretty Kitty
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Raleway"}
    %script{src: "https://code.jquery.com/jquery-2.1.3.js"}

  %body
    %h1 hello, nice there
    %h2 hey?