!!! 5
%html
  %head
    %title Pretty Kitty
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Raleway"}
    %script{src: "scripts/lib/polyfill-object-assign.js"}
    %script{src: "scripts/lib/polyfill-array-find.js"}
    %script{src: "scripts/lib/bjq.js"}
    %script{src: "scripts/lib/chainable-get.js"}
    %script{src: "scripts/lib/flickr-helpers.js"}
    %script{src: "scripts/lightbox.js"}
    %script{src: "scripts/about.js"}
  %body

  .Thumbnails

  .Lightbox-backdrop

  .container
    .LightBox
      .LightBox-imageContainer
        %img.LightBox-mainImage

      .ImageInfo
        %a.ImageInfo-url{ target: '_blank' }
          %span.ImageInfo-title &nbsp;
        .ImageInfo-owner &nbsp;

  %button#AboutButton about

  .about
    %h2 pretty kitty by benji shine
    %h3 an exercise in life without libraries

    %p.instructions Click on a thumbnail to zoom in on it.        |
      Hit escape or click outside the zoomed photo to dismiss it. |
      Use the right arrow key to move to the next  |
      image, and the left arrow key to move to the previous image. |
      Click the title to view the photo on flickr.          |

    %p
      %a{href: "http://www.github.com/benshine/prettykitty", target: "_blank"} source code on github

    %button.dismiss ok!


  %script{src: "scripts/main.js"}