!!! 5
%html
  %head
    %title Pretty Kitty
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Raleway"}
    %script{src: "https://code.jquery.com/jquery-2.1.3.js"}
    %script{src: "scripts/polyfill-object-assign.js"}
    %script{src: "scripts/polyfill-array-find.js"}
    %script{src: "scripts/helpers.js"}
    %script{src: "scripts/flickr-helpers.js"}

  %body

    .container
      %h1 Hello, pretty kitty
      %h2 A cat pictures slideshow viewer and javascript exercise
      %a{href: "https://github.com/benshine/prettykitty"} by Benji Shine

      .LoadingIndicator Loading...


      .LightBox{ style: "display: none" }
        %img.LightBox-mainImage
        .ImageInfo
          .ImageInfo-owner (loading owner)
          %a.ImageInfo-url{ target: '_blank' }
            %span.ImageInfo-title (loading title)

      %ul.Thumbnails



    %script{src: "scripts/main.js"}