!!! 5
%html
  %head
    %title Pretty Kitty
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Raleway"}
    %script{src: "scripts/lib/polyfill-object-assign.js"}
    %script{src: "scripts/lib/polyfill-array-find.js"}
    %script{src: "scripts/lib/bjq.js"}
    %script{src: "scripts/lib/chainable-get.js"}
    %script{src: "scripts/lib/flickr-helpers.js"}
    %script{src: "scripts/lightbox.js"}
  %body

  .container
    .LightBox
      %img.LightBox-mainImage
      .ImageInfo
        .ImageInfo-owner
        %a.ImageInfo-url{ target: '_blank' }
          %span.ImageInfo-title

      %footer
        .credits prettykitty by benji shine

    %script{src: "scripts/main.js"}