!!! 5
%html
  %head
    %title Pretty Kitty
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Raleway"}
    %script{src: "scripts/lib/polyfill-object-assign.js"}
    %script{src: "scripts/lib/polyfill-array-find.js"}
    %script{src: "scripts/lib/bjq.js"}
    %script{src: "scripts/lib/chainable-get.js"}
    %script{src: "scripts/lib/flickr-helpers.js"}
    %script{src: "scripts/lightbox.js"}
  %body

    .container
      %h1 Hello, pretty kitty
      %h6 A cat pictures slideshow viewer and javascript exercise
      %a{href: "https://github.com/benshine/prettykitty"} by Benji Shine

      .LightBox
        %img.LightBox-mainImage
        .ImageInfo
          .ImageInfo-owner (loading owner)
          %a.ImageInfo-url{ target: '_blank' }
            %span.ImageInfo-title (loading title)
        .controls
          %button#PreviousButton Previous
          %button#NextButton Next

      %ul.Thumbnails





    %script{src: "scripts/main.js"}