!!! 5
%html
  %head
    %title Chainable Get Tests
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "css/test-styles.css"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Raleway"}
    %script{src: "https://code.jquery.com/jquery-2.1.3.js"}
    %script{src: "scripts/lib/polyfill-object-assign.js"}
    %script{src: "scripts/lib/polyfill-array-find.js"}
    %script{src: "scripts/lib/bjq.js"}
    %script{src: "scripts/lib/chainable-get.js"}
    %script{src: "scripts/lib/flickr-helpers.js"}
    %script{src: "scripts/lightbox.js"}
  %body

    .container
      %h1 Pretty Kitty, Pretty Tests

      %h2 Chainable Get Tests
      .test{'data-test-name' => 'ChainableGet'}
        .log


  %script{src: "scripts/test/chainable-get-tests.js"}