!!! 5
%html
  %head
    %title Tests for Pretty Kitty
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "css/test-styles.css"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Raleway"}

    // Note that my tests use jQuery -- I chose ease of writing tests over
    // sticking to the requirement of "no libraries". Let's interpret "no libraries"
    // as "no libraries in application code"
    %script{src: "https://code.jquery.com/jquery-2.1.3.js"}

    %script{src: "scripts/lib/polyfill-object-assign.js"}
    %script{src: "scripts/lib/polyfill-array-find.js"}
    %script{src: "scripts/lib/bjq.js"}
    %script{src: "scripts/lib/better-get.js"}
    %script{src: "scripts/lib/flickr-helpers.js"}
    %script{src: "scripts/lightbox.js"}
  %body

    .container
      %h1 Pretty Kitty, Pretty Tests

      %h2 Better Get Tests
      .test{'data-test-name' => 'BetterGet'}
        .log

      %h2 FlickrHelpers Test
      .test{'data-test-name' => 'FlickrHelpers'}
        .log


  %script{src: "scripts/test/better-get-tests.js"}
  -#%script{src: "scripts/test/flickr-helpers-tests.js"}