body {
  font-family: 'Raleway', sans-serif;
  color: #DDDDDD;
  background-color: black;
}

.container {
  margin: 0 auto;
  height: 600px;
}

.LightBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.LightBox-mainImage {
  margin: 20px 0;
}

.ImageInfo-owner {
  line-height: 2.5rem;
}

footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

a.credits, a.ImageInfo-url {
  color: #DDDDDD;
}

a {
  text-decoration: none;
}
