body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.LightBox {
  margin: 0 auto;
  width: 900px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.LightBox-mainImage {
  margin: 0 auto;
}

.Thumbnails {
  list-style: none
}

.Thumbnails .Thumbnail {
  margin: 10px;
  display: inline-block;
}

.Thumbnails .Image-title,
.Thumbnails .Image-owner,
.Thumbnails .Image-link {
  display: none;
}

.LightBox .controls {
  margin-top: 30px;
}

.success {
  color: darkgreen;
}